@media only screen and (max-width: 600px) {
  .profile__parent__div {
    text-align: center !important;
  }
  .profile__avatar {
    width: 100px !important;
    height: 100px !important;
    display: inline-block !important;
  }
  .profile__text {
    text-align: center !important;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .profile__parent__div {
    text-align: center !important;
  }
  .profile__avatar {
    width: 200px !important;
    height: 200px !important;
    display: inline-block !important;
  }
  .profile__text {
    text-align: center !important;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .profile__parent__div {
    text-align: center !important;
  }
  .profile__avatar {
    width: 200px !important;
    height: 200px !important;
  }
  .profile__text {
    text-align: center !important;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile__parent__div {
    text-align: center !important;
  }
  .profile__avatar {
    width: 180px !important;
    height: 180px !important;
    display: inline-block !important;
  }
  .profile__text {
    text-align: left !important;
    padding-top: 10px;
  }
}
